extends ../layout

block content
  h2 Nuestras Bicicletas

  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicacion
        th(scope='col')
        th(scope='col')
    tbody
      each bici in bicis
        tr
          td(scope='row')
            = bici.id
          td=bici.color
          td=bici.modelo
          td=bici.ubicacion
          